<footer class="site-footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">

  <div class="grid">

    {% case section.blocks.size %}
      {% when 0 %}
      {% when 1 %}
        {% assign column_width = 'text-left' %}
      {% when 2 %}
        {% assign column_width = 'medium-up--one-half small--one-whole' %}
      {% when 3 %}
        {% assign column_width = 'medium-up--one-third small--one-whole' %}
      {% when 4 %}
        {% assign column_width = 'medium-up--one-quarter small--one-whole' %}
    {% endcase %}

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'menu' %}
          <div class="grid__item {{ column_width }}">
            {% if block.settings.title %}
              <h3 class="site-footer__section-title">{{ block.settings.title | escape }}</h3>
            {% endif %}
            <ul class="site-footer__menu">
              {% for link in linklists[block.settings.menu].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

        {% when 'text' %}
          <div class="grid__item {{ column_width }}">
            {% if block.settings.title %}
              <h3 class="site-footer__section-title">{{ block.settings.title | escape }}</h3>
            {% endif %}
            <div class="rte">{{ block.settings.richtext }}</div>
          </div>

        {% when 'newsletter' %}
          <div class="grid__item {{ column_width }}">
            {% if block.settings.title %}
              <h3 class="site-footer__section-title">{{ block.settings.title | escape }}</h3>
            {% endif %}
            <h3 class="site-footer__section-title">{{ 'general.newsletter_form.newsletter_heading' | t }}</h3>
            {% include 'newsletter', label: block.settings.subtext %}
          </div>

      {% endcase %}
    {% endfor %}

    </div>

  {% if section.blocks.size > 0 %}
    <hr>
  {% endif %}

  <div class="grid medium-up--grid--table sub-footer small--text-center">
    <div class="grid__item medium-up--one-half">
      <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
    </div>
    {%- if section.settings.show_payment_icons -%}
      {%- unless shop.enabled_payment_types == empty -%}
        <div class="grid__item medium-up--one-half medium-up--text-right">
          <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
          <ul class="list--inline payment-icons">
            {%- for type in shop.enabled_payment_types -%}
              <li>
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endunless -%}
    {%- endif -%}
  </div>
</footer>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Links",
            "en": "Links",
            "es": "Enlaces",
            "fr": "Liens",
            "it": "Links",
            "ja": "リンク",
            "pt-BR": "Links"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "pt-BR": "Menu"
          },
          "info": {
            "de": "Dieses Menü zeigt keine Dropdowns an",
            "en": "This menu won't show dropdown items",
            "es": "Este menú no mostrará elementos desplegables",
            "fr": "Ce menu n'affichera pas les éléments des menus déroulants",
            "it": "Questo menu non mostrerà elementi a discesa",
            "ja": "このメニューにはドロップダウンアイテムは表示されません",
            "pt-BR": "Este menu não mostra itens suspensos"
          }
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Kontaktieren Sie uns",
            "en": "Contact us",
            "es": "Ponte en contacto con nosotros",
            "fr": "Contactez-nous",
            "it": "Contattaci",
            "ja": "お問い合わせ",
            "pt-BR": "Fale conosco"
          }
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "pt-BR": "Texto"
          },
          "default": {
            "de": "<p>Mit diesem Text können Sie Ihre Kunden über Ihre Marke informieren.</p>",
            "en": "<p>Use this text to share information about your brand with your customers.</p>",
            "es": "<p>Usa este texto para compartir información sobre tu marca con tus clientes.</p>",
            "fr": "<p>Utilisez ce texte pour partager des informations sur votre marque avec vos clients.</p>",
            "it": "<p>Utilizza questo spazio per condividere informazioni sul tuo brand con i clienti.</p>",
            "ja": "<p>このテキストを使用して、あなたのブランドに関する情報をお客様と共有します。</p>",
            "pt-BR": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes.</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "name": {
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fr": "Inscription",
        "it": "Iscrizione newsletter",
        "ja": "ニュースレターのサインアップ",
        "pt-BR": "Assinatura da newsletter"
      },
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "subtext",
          "label": {
            "de": "Subtext",
            "en": "Subtext",
            "es": "Subtexto",
            "fr": "Sous-texte",
            "it": "Sottotesto",
            "ja": "サブテキスト",
            "pt-BR": "Subtexto"
          },
          "default": {
            "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
            "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
            "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
            "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
            "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
            "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
            "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>"
          }
        },
        {
          "type": "paragraph",
          "content": {
            "de": "Alle Kunden, die sich eintragen, bekommen ein Konto in Shopify. [Kunden ansehen](/admin/customers?query=&accepts_marketing=1)",
            "en": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)",
            "es": "Todos los clientes que se registren tendrán una cuenta creada para ellos en Shopify. [Ver clientes](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les clients qui s'inscrivent auront un compte créé pour eux sur Shopify. [Afficher les clients](/admin/customers?query=&accepts_marketing=1)",
            "it": "Qualsiasi cliente che si iscrive avrà un account creato appositamente su Shopify. [Visualizza clienti](/admin/customers?query=&accepts_marketing=1)",
            "ja": "サインアップしたお客様は、Shopifyでアカウントが作成されます。[お客様を表示](/admin/customers?query=&accepts_marketing=1)",
            "pt-BR": "Todos os clientes que se inscreverem terão uma conta criada para eles na Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
          }
        }
      ]
    }
  ]
}
{% endschema %}
